body{
		overflow: auto;
		text-align: center;
		padding-top: 50px;
		background-color:white;
		font-family: "Verdana", Sans-serif;
		font-weight: bold;
}
h1{
	padding-top:0px;
	text-align: center;
	color:black;
	margin-left: 20px;
}
em{
	color: #F74B84; /*pinkish*/
}
h2{
	padding-top:0px;
	padding-bottom:25px;
}

a{
	/* inherits the previous color - basically removes when you hyperlink something and turns to blue with underlines*/
	color: inherit;
	text-decoration: none;
}

/* does something when hover'd over */
a:hover{
	text-shadow:.5px .5px black;
}

img{
	border-radius:8px;
	width:50%;
	height:50%;
}
